<html>
    <head>
        <title>404</title>
    </head>
<h1 id="error">opps 404</h1>
<h3 id="lines">Your city-weather data is not available.</h3><br>
<h2>or</h2>
<h3 id="lines">Page is not found.</h3>
<br>
<h4><a href="/">Go back to Home</a></h4>
</html>